<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body_block %}
<body class="ab" style="background-image: url('{% static 'images/pexels-sora-shimazaki-5926398.jpg' %}');" >
<link rel="stylesheet" type="text/css" href="{% static 'contactus.css' %}">
    <div class="header">
        <h1> Contact ELSer </h1>
    </div><br><br><br>
<p>
    <h1>Contact ELSer: Empowering Solutions for the Digital World</h1>

    Thank you for your interest in ELSer, a leading multinational software company that specializes in providing innovative
    solutions for businesses in the digital era. We value your inquiries, feedback, and opportunities for collaboration.<br>

    <h1>Please feel free to get in touch with us using the contact information provided below:</h1>
    <img class="one" src="{% static 'images\elser6.png' %}" width="500px" height="300px">
    <h2>General Inquiries:</h2>
    For general inquiries or information about our products and services, please reach out to our dedicated customer support team.
    They can be contacted via email at <b>info@elser.com</b> or by phone at +1-XXX-XXX-XXXX.<br><br>
    Our team is available during business hours to assist you with any questions you may have.<br>

    <h2>Sales and Partnerships:</h2>
    If you are interested in exploring how ELSer's solutions can transform your business or if you would like to discuss potential
    partnerships, please contact our sales team. They can be reached via email at <b>sales@elser.com</b> or by phone at +1-XXX-XXX-XXXX.<br>
    Our sales representatives are experienced professionals who will work closely with you to understand your unique needs and provide tailored solutions.<br><br>

    <h2>Technical Support:</h2>
    For existing customers requiring technical assistance or troubleshooting, our dedicated support team is here to help.
    You can reach our technical support team via email at <b>support@elser.com</b> or by phone at +1-XXX-XXX-XXXX.<br>
    Please provide detailed information about your issue so that we can expedite the resolution process and ensure your satisfaction.<br><br>

    <img class="one" src="{% static 'images\elser3.png' %}" width="500px" height="300px">
    <h2>Career Opportunities:</h2>
    If you are interested in joining our dynamic team and exploring career opportunities at ELSer, we would love to hear from you.
    Please visit our Careers page on our website or send your resume and cover letter to <b>careers@elser.com</b>.<br>
    We are always looking for talented individuals who are passionate about technology and innovation.<br><br>

    <h2>Media and Press Inquiries:</h2>
    For media inquiries, press releases, or any other media-related matters, please contact our media relations team at
    <b>media@elser.com</b>. We are open to collaborations, interviews, and sharing our expertise in various digital
    technologies and industry trends.<br><br>
     <img class="two" src="{% static 'images\elser1.png' %}" width="500px" height="300px">
    <h2>Office Locations:</h2>
    ELSer has a global presence with offices located in key cities around the world. You can find our main headquarters at:<br>

    ELSer Headquarters<br>
    123 Main Street<br>
    Bhimavaram , Andhra Prades<br>
    India.<br>

    For a complete list of our office locations and contact information, please visit the "Locations" page on our website.<br><br>

    We appreciate your interest in ELSer and look forward to connecting with you. Whether you have questions,
    ideas, or a business opportunity, our team is ready to assist you and provide the best solutions for your digital needs.
    Together, let's navigate the digital world and unlock new possibilities.<br>
</p><br>
<div class="footer">
        <h2>© 2023 ELSer. All rights reserved. <br>
            | Privacy Policy | Terms of Use | Sitemap</h2>
    </div>
</body>
{% endblock %}
</html>